{% extends "home/header.html" %}
{% load static %}

{%block title %} Add to Catalogue {% endblock title %}

{% block content %}

<section id="main-content">
    <section class="wrapper">

        <section class="panel">
            <header class="panel-heading wht-bg">
                <h4 class="gen-case">
                    Add Catalogue <br> <br>


                    <form method="post" action="/search_jwel/">
                        {% csrf_token %}
                        <label>Design Number</label>
                        <div class="input-append">
                            <input type="text" class="form-control " name="design_number" id="design_number"
                                placeholder="Search">
                        </div>
                        <input type="submit" value="Search">
                    </form>
                </h4>
            </header>
            <div class="panel-body minimal">
                <div class="mail-option">
                    <ul class="unstyled inbox-pagination">
                        <li><span>1-50 of 99</span></li>
                        <li>
                            <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                        </li>
                        <li>
                            <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="table-inbox-wrap ">
                    <table class="table table-inbox table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Image</th>
                                <th scope="col">Gold Weight</th>
                                <th scope="col">Diamond Carat</th>
                                <th scope="col">Design Number</th>
                                <th scope="col">Add To catalogue</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if no_results %}

                            {% for products in prod %}
                            <tr class="unread">
                                <td class="inbox-small-cells">
                                    <input type="checkbox" class="mail-checkbox">
                                </td>
                                <td class="inbox-small-cells"><img src="{{ products.image.url }}"></td>
                                <td class="view-message  dont-show"><a href="">{{ products.gold_weight }}</a></td>
                                <td class="view-message "><a href="">{{ products.diamond_carat }}</a></td>
                                <td class="view-message  inbox-small-cells"> {{ products.design_number }} </td>
                                <td class="view-message  "><button type="submit">Add To Quatation </button></i></td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            {% for result in results %}
                            <tr class="unread">
                                <td class="inbox-small-cells">
                                    <input type="checkbox" class="mail-checkbox">
                                </td>
                                <td class="inbox-small-cells"><img src="{{ result.image.url }}"></td>
                                <td class="view-message dont-show"><a href="mail_view.html">{{ result.gold_weight }}</a>
                                </td>
                                <td class="view-message"><a href="mail_view.html">{{ result.diamond_carat }}</a></td>
                                <td class="view-message inbox-small-cells">{{ result.design_number }}</td>
                                <td class="view-message ">
                                    <form action="{% url "quatation:quatation_add" result.id %}" method="post">
                                        {{ quatation_add_form }}
                                        {% csrf_token %}
                                        <button class=" text-center btn btn-info btn-lg" type="submit">Add To Quatation </button>
                                    </form>
                                    </td>
                            </tr>
                            {{ result.last_name }}
                            {% endfor %}
                            {% endif %}


                        </tbody>
                    </table>

                    <br>
                    <br>
                    <br>




                    <h3>Quatation</h3>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Image</th>
                                <th scope="col">Gold Weight</th>
                                <th scope="col">Diamond Carat</th>
                                <th scope="col">Design Number</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for item in quatation %}
                                        {% with product=item.product %}
                                    <tr>
                                        <td class="product_remove"><a href="{% url 'quatation:quatation_remove' product.id %}" class="remove_from_cart">
                                            <span class="fa fa-trash-o"></span></a>
                                        </td>
                                        <td class="product_thumb"><img src=" {{ product.image.url }}" height="70px" width="70px"></td>
                                        <td><input type="number"></td>
                                    </tr>
                                        {% endwith %}
                                    {% endfor %}

                        </tbody>

                    </table>

                    <br>
                    <br>
                    <label for="Pages"><h3>Items Per Page:</h3></label></td>

                    <select name="page" id="page"   style="height:50px; font-size: 29px;">
                        <option value="4">4</option>
                        <option value="6">6</option>
                        <option value="8">8</option>
                    </select>

                    <br>
                    <br>

                    <div class="text-center" >
                        <button class="btn btn-info btn-lg" type="submit">Create Quatation</button>
                    </div>

                </div>
            </div>
        </section>
    </section>
</section>





{% include 'home/footer.html' %}

{% endblock %}