{% extends "home/header.html" %}
{% load static %}

{%block title %} Products {% endblock title %}

{% block content %}


<section id="main-content">
  <section class="wrapper site-min-height">
    <h3><i class="fa fa-angle-right"></i> Products</h3>
    <hr>
    <form method='POST' enctype="multipart/form-data">
      {% csrf_token %}
      <table class='w-50 table table-light' style="border-radius:10px;background-color:#22242A;">
        {% for field in upload_form %}
        <tr>
          <th>{{ field.label }}</th>
          <th> {{ field }}</th>
        </tr>
        {% endfor %}
      </table>
      <button type="submit" class="btn btn-lg btn-warning">Submit</button>

    </form>



    </div>
  </section>
</section>




{% include 'home/footer.html' %}

{% endblock %}